/* General styles */
html {
    scroll-behavior: smooth;
}

span.kontakt-text {
    display: block;
    margin-top: 60px;
    margin-bottom: 20px;
}

.w3-container.w3-padding-32 {
    text-align: center;
}

button.prev {
    left: 8%;
}

body {
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 100;
}

/* Header styles */
img.main-logo {
    max-width: 250px;
    margin: auto;
}

.navbar.w3-right.w3-hide-small {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.w3-top {
    border-bottom: 1px solid #c0a34b;
}

/* Footer styles */
.footer-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.auflistung-footer {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Common button styles */
button.w3-button.w3-black.w3-section {
    transition: background-color .5s;
}

button.w3-button.w3-black.w3-section:hover {
    background-color: #c0a34b;
}

/* Typography */
h2.greeting-text {
    text-align: center;
    color: #8D895C;
    font-size: 40px;
}

h3.icon-title {
    font-size: 40px;
    color: #c0a34b;
    padding: 30px 0 15px;
    font-weight: 700;
}

/* Input and form styles */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 150px;
}

input[type="submit"] {
    background-color: #c0a34b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #8D895C;
}

.slider {
    max-width: 100%;
    overflow: hidden;
    width: 100%; 
    margin: 0 auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%; 
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
}

.w3-white, .w3-hover-white:hover {
    color: #000 !important;
    background-color: #c0a34b !important;
}

.w3-black, .w3-hover-black:hover {
    color: #fff !important;
    background-color: #c0a34b !important;
}

a.w3-bar-item.w3-button {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
}

button.next {
    right: 10%;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 71px;
    right: 0; 
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 10px;
    width: 100%; 
}

.mobile-menu a {
    text-decoration: none;
    color: black;
    padding: 10px;
    text-transform: uppercase;
}

.mobile-menu a:hover {
    background-color: #f1f1f1;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .w3-right.w3-hide-small {
        display: none;
    }
    .hamburger {
        display: block;
    }
    h3.icon-title {
        font-size: 22px; 
    }
    span.einleitetext {
        font-size: 16px; 
    }
    .slider {
        width: 100%;
    }
    .slides img {
        width: 100%;
    }
    h3.icon-title {
        font-size: 24px;
    }
    .mobile-menu {
        right: 0;
        top: 99%;
        width: 100%;
    }
    .w3-container, .w3-content {
        padding: 15px;
    }
}

h3.icon-title {
    text-transform: UPPERCASE;
    text-align: center;
}

span.einleitetext {
    font-size: 20px;
}

/* Responsive */
@media only screen and (min-device-width: 1356px) {
    .footer-row {
        flex-direction: row;
    }

    .w3-top .w3-right.w3-hide-small a {
        color: #fff;
        font-size: 22px;
    }
}
